/* Common styles for all screen sizes */
body {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light";
    font-weight: 200;
    background-color: whitesmoke;
}

.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: grey;
}

header {
    text-align: center;
    font-size: 2em;
    color: #262727;
    font-family: "HelveticaNeue-Light";
    font-style: italic;
    margin-bottom: 5px;
    font-weight: 200;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin-top: 0;
    font-weight: 200;
}

h2 {
    margin-top: 0;
    font-weight: 200;
    font-size: 0.7em; /* Adjust the font size as needed */
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

p {
    line-height: 1;
    font-size: 0.9em; /* Adjust the font size as needed */
    font-weight: 300;
    font-family: "HelveticaNeue-Light", Arial, sans-serif; /* Added fallback fonts */
    text-align: center;
    margin-bottom: 10px; /* Increased margin-bottom for better separation */
}

video {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Grid layout for photos */
.photos, .grace, .firstrun, .Evenings {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    font-weight: 100;
    grid-gap: 10px;
    padding: 20px;
}

/* Heading style for photos and grace */
.photos h2, .grace h2, .firstrun h2, .Evenings h2 {
    grid-column: 1 / -1;
    font-family: "HelveticaNeue-Light";
    font-weight: 100;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 10px;
}

/* Paragraph style for photos and grace */
.photos p, .grace p, .firstrun p, .Evenings p {
    grid-column: 1 / -1;
    font-family: "HelveticaNeue-Light";
    font-weight: 100;
    text-align: center;
    margin-bottom: 10px;
}

/* Responsive grid for photos and grace */
@media (max-width: 768px) {
    .photos, .grace, .firstrun, .Evenings {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }
}

@media (max-width: 480px) {
    .photos, .grace, .firstrun, .Evenings {
        grid-template-columns: 1fr; /* One column */
    }
}

/* Image container styles */
.photos img, .grace img, .firstrun img, .Evenings img {
    width: 100%;
    height: 200px; /* Auto height for responsiveness */
    object-fit: cover; /* Crop the images while maintaining aspect ratio */
}

.contact {
    text-align: center; /* Center text horizontally */
    padding: 20px;
    margin: 20px auto; /* Add margin to center vertically */
    max-width: 600px; /* Limit maximum width */
}

.contact p {
    margin-bottom: 20px; /* Add spacing below the paragraph */
}

.contact img {
    width: 30px; /* Adjust width of social icons */
    margin: 0 5px; /* Add spacing between social icons */
}