/* Common styles for all screen sizes */
body {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light";
    font-weight: 200;
    background-color:#8DA2D0;
}

.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #3468C0;
}

header {
    text-align: center;
    font-size: 1.5em; /* Larger font size */
    max-width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    color: #262727; /* Dark grey color */
    margin-bottom: 5px; /* Adjust spacing */
    font-weight: 100;
    padding: 20px 30px; 
}

/* Media Query for Mobile */
@media screen and (max-width: 600px) {
    header {
        margin-left: 10px; /* Adjust margin for smaller screens */
        margin-right: 10px; /* Adjust margin for smaller screens */
        font-size: 1.2em; /* Adjust font size for smaller screens */
        padding: 10px 15px; /* Adjust padding for smaller screens */
    }
}

h1 {
    margin-top: 0;
    font-weight: 200;
}
.Bio {
    text-align: center; /* Center text horizontally */
    margin: 20px auto; /* Add margin to center vertically */
    max-width: 600px; /* Limit maximum width */
}

.Bio img {
    width: 40vh; /* Default width based on viewport height */
    height: auto;
}

/* Adjust image size for smaller viewport widths */
@media (max-width: 768px) {
    .Bio img {
        width: 80%; /* Adjust width for smaller screens */
        max-width: 100px; /* Set a maximum width */
        height: auto;
    }
}


h2 {
    margin-top: 0;
    font-weight: 200;
    font-size: 2em; /* Adjust the font size as needed */
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.video-container {
    margin-top: 20px;
    display: flex;
    max-width: 100%;
    justify-content: center; /* Center the video horizontally */
    align-items: center; /* Center the video vertically */
    position: relative;
    overflow: hidden;
}

.photos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    font-weight: 100;
    grid-gap: 10px;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}


/* Image container styles */
.photos img {
    width: 40vh;
    height: 30vh; /* Automatically adjust height to maintain aspect ratio */
    max-height: 400px; /* Set a maximum height for the images */
    object-fit: cover; /* Crop the images while maintaining aspect ratio */
}

/* Responsive grid for photos */
@media (max-width: 768px) {
    .photos {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }
}

@media (max-width: 480px) {
    .photos {
        grid-template-columns: 1fr; /* One column */
    }
}


.photos-container h2 {
    margin-top: 40px;
    margin-bottom: 0;
}


.photos-container p {
    display: flex;
    justify-content: center;
}
.contact {
    text-align: center; /* Center text horizontally */
    padding: 20px;
    margin: 20px auto; /* Add margin to center vertically */
    max-width: 600px; /* Limit maximum width */
}

.contact p {
    margin-bottom: 20px; /* Add spacing below the paragraph */
}

.contact img {
    width: 30px; /* Adjust width of social icons */
    margin: 0 5px; /* Add spacing between social icons */
}
