body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}

header {
    color: rgb(150, 33, 121);
    text-align: center;
    padding: 20px 0;
    font-family: "Barlow", sans-serif;
}

.image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image-container {
    width: 45%;
    margin-bottom: 20px;
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
}

.video-section {
    text-align: center;
    padding: 20px;
}

.video-container {
    max-width: 800px;
    margin: 0 auto;
}
